PORT=3001
CURRENCY=PLN
FILAMENT_COST_PER_KG=90 # PLA per kg
ENERGY_COST_PER_KWH=1.5
PRINTER_POWER_W=200
HOURLY_RATE=0
MAINTENANCE_RATE_PER_HOUR=15
MARKUP_PCT=10
MIN_JOB_FEE=8
PRUSA_CONFIG_BUNDLE="./configs/printer.ini"
TMP_DIR=/tmp
SHOPIFY_SHOP_NAME="your-shop-name"
SHOPIFY_ADMIN_API_TOKEN="your-admin-api-access-token"